*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: Montserrat;
}

main{
    background-color: white;
        /*background-color: #141513;*/
}


.logo{
    width: 125px;
    cursor: pointer;
}

li, a{
    font-family: sans-serif;
    font-size: 15px;
    /*color: #edf0f1;*/
    text-decoration: none;
    list-style: none;
    /*display: inline-block;
    margin-right: 10px;*/
    color: black;
    text-transform: uppercase;
}

header{
    width: 100%;
    /*border: 2px solid;*/
    height: 96px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 1;
}


.parent{
   /*border: 2px solid red;*/
   overflow: hidden;
    width: 100%;
    height: 500px;
    margin-top: 100px;
    position: relative;
    display: inline-block;
}

.child{
    /*border: 2px solid rgb(19, 19, 22);*/
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: all 1.1s;
    overflow: auto;
}

.bg-one{
    background: url(images/1920x1080-5261088-hand-pray-prayer-clapping-nightime-finger-closed-worship-clap-light-night-dark-arm-panoramic-panorama-free-pictures.jpg);
    width: 100%;
    height: 100%;
    background-position: bottom;
}

.parent:hover .child{
    transform: scale(1.1);
}


.child_h1{
    /*border: 2px solid violet;*/
    z-index: 1;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-size: 100px;
    cursor: default;
}


.nav__links li{
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
    line-height: 30px
}

.assembleia__h1{
    color: black;
    cursor:default;
    white-space: nowrap;
    margin-left: 60px;
    font-size: 22px;
    font-weight: bold;

}

.assembleia__div{
    margin-left: 20px;
}

.nav__links li a{
    text-decoration: none;
    color: black;
    padding: 5px 0;
    position: relative;
    font-weight: bold;
}

.nav__links li a::after{
    content: '';
    background: #3603b6;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav__links li a:hover::after{
    width: 100%;
}


.sobre{
    /*border: 2px solid red;*/
    width: 80%;
    height: 400px;
    margin-left: 150px;
    margin-top: 20px;
    padding: 40px 50px;
}

.sobre h1{
    margin-left: 400px;
}

.sobre p{
    margin-top: 10px;
    padding: 20px;
}




.h2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 100px auto;
    margin-bottom: 1px;
    padding: 10px 20px;
}


.encontrar{
   /* border: 2px solid red;*/
    width: 80%;
    margin: 200px auto;
    height: 600px;
}

.encontrar h2{
    margin-top: 10px;
    text-align: center;
    font-size: 36px;
}

.mapa{
    /*border: 2px solid black;*/
    margin: 20px auto;
    height: 500px;
}

.mapa-igreja{
    height: 500px;
    width: 100%;
    border: none;
}

/*footer*/
footer{
    margin-top: 400px;
    width: 100%;
    margin-top: 50px;
    background-color: black;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.Socialicons{
   /* border: 2px solid blue;*/
    display: flex;
    justify-content: center;
}

.Socialicons a{
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.Socialicons i{
    font-size: 25px;
    color: white;
    opacity: 0.9;
}

.footerNav{
    /*border: 2px yellow solid;*/
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    font-size: 15px;
    opacity: 0.7;
}

.footerContainer h4{
    /*border: 2px solid red;*/
    color: white;
    text-align: center;
    font-size: 12px;
}